:root {
--main-size: 100%;
--pag-size-dados-pessoais: 35%;
--pag-size-principal: 65%;
--pag-size-principal-div: 250px;

}

* {
font-family: 'Montserrat', sans-serif;


}

body {

}

.main {
display: flex;
width: var(--main-size);
}

.menu{

}

nav li {
display: inline;
justify-content: center;
  align-items: center;


}
nav a {
color: #000000;
font-weight: bold;
text-decoration: none;
font-size: 20px;
}
nav a:hover {
color: #0a2255;
text-decoration: underline;
}

/* Monta Tabela de reserva 20% da pagina */
.dados-pessoais {
background: url("../img/bg.jpg");
color: #FEFEFE;
width: var(--pag-size-dados-pessoais);
}

/* Cria o componente foto perfil */

.imagem_ciruclo {
margin: 35px 0 0 25px ;
width: 200px;
height: 200px;
border-radius: 50%;
background: #FEFEFE;
display: flex;
align-items: center;
}

.imagem_ciruclo img {
width: 180px;
border-radius: 50%;
padding: 0 0 0 10px;
}

/* Cria o componente apresentação nome completo e profissão */
.nome_completo {
margin: 0 10px 0 10px ;
align-items: center;
}
.nome_completo h1 {
margin: 20px 0 0 0;
font-size: 25px;
font-weight: bold;
}

.sub-dados-pessoais {
background: url("../img/bg2.jpg");
font-size: 20px;
height: 50px;
text-transform: uppercase;
margin: 10px 0 0 0;
display: flex;
align-items: center;
}

.contatos p, .idiomas p, .hobbies p{
margin: 10px 0 10px 30px ;
}

.principal {
width:var(--pag-size-principal);
}

.conteudo { 
height: var(--pag-size-principal-div);
display: flex;
justify-content: center;
align-items: center;
}

.conteudo-cb {
height:  80%;
width: 40px;
color: #FEFEFE;
text-transform: uppercase;  
font-weight: bold;
font-size: 15px;
writing-mode: vertical-rl;
border-radius: 0px 25px 25px 0px;
display: flex;
justify-content: center;
align-items: center;
}

.conteudo-desc {
width: 100%;
margin-top: 60px;
height: 100%;
display:flex;
justify-content: center;
}

.conteudo-desc-educ {
 width: 30%;
}

.conteudo-periodo {
  font-weight: bold;
}


.conteudo-img {
height:  100%;
display: flex;
align-items: center;
margin: 0 10px 0 10px;
}

.conteudo-exp {
  width: 100%;
  margin: 0px 0px 0px 15px ;
}

.conteudo-exp p{
  padding: 2px;
}

.conteudo-hab {
  width: 100%;
 margin: 0px 0px 0px 15px ;
}

.conteudo-hab td, tr{
 width: 250px;
}


.conteudo-cert {
  width: 100%;
  margin: 15px 0px 0px 15px ;
}

.cert {
	line-height: 1.5;
  padding: 2px;
}

.cert::before {
  content: "🟊";
}


.conteudo-conquistas {
  width: 100%;
  margin: 0px 0px 0px 15px ;
}




.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}