:root {
  --main-size: 1024px;
  --pag-size-dados-pessoais: 35%;
  --pag-size-principal: 65%;
  --pag-size-principal-div: 250px;

}

* {
font-family: 'Montserrat', sans-serif;

}

.main {
display: flex;
width: var(--main-size);
}

nav li {
display: inline;
}
nav a {
color: #000000;
font-weight: bold;
text-decoration: none;
font-size: 20px;
}
nav a:hover {
color: #0a2255;
text-decoration: underline;
}

/* Monta Tabela de reserva 20% da pagina */
.dados-pessoais {
background: url("../img/bg.jpg");
color: #FEFEFE;
width: var(--pag-size-dados-pessoais);
}

/* Cria o componente foto perfil */

.imagem_ciruclo {
margin: 35px 0 0 25px ;
width: 200px;
height: 200px;
border-radius: 50%;
background: #FEFEFE;
display: flex;
align-items: center;
}

.imagem_ciruclo img {
width: 180px;
border-radius: 50%;
padding: 0 0 0 10px;
}

/* Cria o componente apresentação nome completo e profissão */
.nome_completo {
margin: 0 10px 0 10px ;
align-items: center;
}
.nome_completo h1 {
margin: 20px 0 0 0;
font-size: 25px;
font-weight: bold;
}

.sub-dados-pessoais {
background: url("../img/bg2.jpg");
font-size: 20px;
height: 50px;
text-transform: uppercase;
margin: 10px 0 0 0;
display: flex;
align-items: center;
}

.contatos p, .idiomas p, .hobbies p{
margin: 10px 0 10px 30px ;
}

/* Iniciar aba prinicipal */

.principal {
  width:var(--pag-size-principal);
}

.principal-div { 
height: var(--pag-size-principal-div);
display: flex;
justify-content: center;
align-items: center;
}

.experiencia {  
height:  var(--pag-size-principal-div);
display: flex;
justify-content: center;
align-items: center;}

.habilidades { 
height:  var(--pag-size-principal-div);
display: flex;
justify-content: center;
align-items: center; }

.certificacoes {  
height:  var(--pag-size-principal-div);
display: flex;
justify-content: center;
align-items: center; }

.conquistas {  
height:  var(--pag-size-principal-div);
display: flex;
justify-content: center;
align-items: center; }